* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #D3D0CB;
    height: 100%;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    position: absolute;
    z-index: 4;
    left: 20.5vw;
    top: 42vh;
}

.site-title{
    width: 60vw;
}

.title-page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #393E41;
    z-index: 3;
    cursor: pointer;
}

.page-trim {
    align-self: center;
    position: relative;
    height: 2vh;
    width: 100vw;
    background-color: #E2C044;
}

.site-logo {
    height: 7.5vh;
    width: 7.5vh;
}

.bottom {
    position: absolute;
    bottom: 0;
}

/* Title Page Images */
.title-images {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
}

/* Ensuring the position of all title images is absolute */
.title-images > div {
    position: absolute;
}

/* Applying a height and width to all title images */
.title-images img {
    width: 12vw;
    height: 12vw;
}

.einstein-title-image {
    top: 1vh;
    left: 24vw;
}
.curie-title-image {
    top: 1vh;
    right: 24vw;
}
.gandhi-title-image {
    top: 13vh;
    left: 11vw;
}
.davinci-title-image {
    top: 13vh;
    right: 11vw;
}
.kleopatra-title-image {
    top: 38vh;
    left: 5vw;
}
.mandela-title-image {
    top: 38vh;
    right: 5vw;
}
.king-title-image {
    bottom: 12vh;
    left: 3vw;
}
.nightingale-title-image {
    bottom: 12vh;
    right: 3vw;
}
.churchill-title-image {
    bottom: 9vh;
    right: 17vw;
}
.newton-title-image {
    bottom: 9vh;
    left: 17vw;
}

.main-page {
    z-index: 1;
    height: 100vh;
}

.main-content {
    justify-content: flex-start;                    
    width: 100vw;                      
    height: 100vh;  
    bottom: 55vw;
    overflow-x: hidden;                                  
    position: relative;  
}

.einstein-main-content {
    position: absolute;
    top: 5vh;
    left: 100vw;
}
.curie-main-content {
    position: absolute; 
    top: 5vh;
    left: 200vw;
}
.gandhi-main-content {
    position: absolute;
    top: 5vh;
    left: 300vw;
}
.davinci-main-content {
    position: absolute;
    top: 5vh;
    left: 400vw;
}
.kleopatra-main-content {
    position: absolute; 
    top: 5vh;
    left: 500vw;
}
.mandela-main-content {
    position: absolute;
    top: 5vh;
    left: 600vw;
}
.king-main-content {
    position: absolute;
    top: 5vh;
    left: 700vw;
}
.nightingale-main-content {
    position: absolute; 
    top: 5vh;
    left: 800vw;
}
.churchill-main-content {
    position: absolute;
    top: 5vh;
    left: 900vw;
}
.newton-main-content {
    position: absolute;
    top: 5vh;
    left: 1000vw;
}

h1 {
    font-family: 'EB Garamond';
}

h2 {
    color: white;
    font-family: 'EB Garamond'; font-size: 32px; 
    right: 13vw;
    top: 42vh;
    width: 40vw;
    height: 40vh;
    position: absolute;
    text-align: center;
}

h3 {
    color: white;
    font-family: 'EB Garamond'; font-size: 40px; 
    right: 3vw;
    top: 20vh;
    width: 60vw;
    height: 40vh;
    position: absolute;
    text-align: center;
}

p1 {
    width: 30vw;
    height: 40vh;
    padding: 20px;
    font-family: Verdana, Geneva, sans-serif;
    color: #393E41;
    text-align: center;
    background-color: rgba(88,123,127,0.5);
    border-radius: 25px;
    position: absolute;
    right: 18vw;
    top: 50vh;
}

p2 {
    width: 50vw;
    height: 80vh;
    padding: 20px;
    font-family: Verdana, Geneva, sans-serif;
    color: #393E41;
    text-align: center;
    background-color: rgba(88,123,127,0.5);
    border-radius: 25px;
    position: absolute;
    right: 8vw;
    top: 30vh;
}


.arrow-left img {
    z-index: 2;
    width: 3vw;
    height: auto;
    left: 2vw;
    top: 55vh;
    position: absolute;
    cursor: pointer;
}
.arrow-right img {
    z-index: 2;
    width: 3vw;
    height: auto;
    right: 2vw;
    top: 55vh;
    position: absolute;
    cursor: pointer;
}

/* Formatting and positioning all main images*/
.main-images {
    display: flex;                    
    justify-content: flex-start;       
    align-items: center;               
    width: 100vw;                      
    height: 100vh;                     
    overflow-x: hidden;                                  
    position: relative;              
}

/* Styling the image containers*/
.main-images div {
    z-index: 2;
    position: absolute;              
    height: 75vh;                      
    width: auto;                       
    cursor: pointer;
    margin-top: 25vh;               
}

/* Positioning the images and content with 100vw intervals */
.einstein-main-image {
    left: 12vw;      
    }

.curie-main-image {
    left: 112vw;    
}

.gandhi-main-image {
    left: 212vw;                      
}

.davinci-main-image {
    left: 312vw;                      
}

.kleopatra-main-image {
    left: 412vw;                      
}

.mandela-main-image {
    left: 512vw;                     
}

.king-main-image {
    left: 612vw;                       
}

.nightingale-main-image {
    left: 712vw;                       
}

.churchill-main-image {
    left: 812vw;                      
}

.newton-main-image {
    left: 912vw;                     
}

/* Styling the images */
.main-images img {
    height: 100%;                   
    width: auto;                     
    object-fit: contain;               
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Scale figure images when hovering over them */
.main-images img:hover {
    transform: scale(1.1);         
}

.info-content {
    justify-content: flex-start;                    
    width: 100vw;                      
    height: 100vh;  
    overflow-x: hidden;                                  
    position: relative;  
}

.info-content-one {
    position: absolute;
    top: 5vh;
    left: 100vw;
}
.info-content-two {
    position: absolute;
    top: 5vh;
    left: 200vw;
}

footer {
    position: absolute;
    align-content: center;
    width: 100vw;
    height: 25vh;
    bottom: -25vh;
    background-color: #393E41;
    color: white;
    padding: 2vw;
}


    
