* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #D3D0CB;
    height: 100%;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    position: absolute;
    z-index: 3;
    left: 30vw;
    top: 30vh;
}

.title-one {
    width: 40vw; /* Adjust the width as needed */
}

.title-page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #393E41;
    z-index: 2;
}

.page-trim {
    align-self: center;
    position: relative;
    height: 2vh;
    width: 100vw;
    background-color: #E2C044;
}

.site-logo {
    height: 7.5vh;
    width: 7.5vh;
}

.bottom {
    position: absolute;
    bottom: 0;
}

/* Title Page Images */
.title-images {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Ensuring the position of all title images is absolute by applying it to the parent div class */
.title-images > div {
    position: absolute;
}

/* Applying a height and width to all title images */
.title-images img {
    width: 12vw;
    height: 12vw;
}

.einstein-title-image {
    top: 1vh;
    left: 24vw;
}
.curie-title-image {
    top: 1vh;
    right: 24vw;
}
.gandhi-title-image {
    top: 13vh;
    left: 11vw;
}
.davinci-title-image {
    top: 13vh;
    right: 11vw;
}
.kleopatra-title-image {
    top: 38vh;
    left: 5vw;
}
.mandela-title-image {
    top: 38vh;
    right: 5vw;
}
.king-title-image {
    bottom: 12vh;
    left: 3vw;
}
.nightingale-title-image {
    bottom: 12vh;
    right: 3vw;
}
.churchill-title-image {
    bottom: 9vh;
    right: 17vw;
}
.newton-title-image {
    bottom: 9vh;
    left: 17vw;
}

.main-page {
    z-index: 1;
}


h1 {
    font-family: 'EB Garamond';
}

h2 {
    color: white;
    font-family: 'EB Garamond'; font-size: 32px; 
    right: 20vw;
    top: 44vh;
    width: 30vw;
    height: 40vh;
    position: absolute;
    text-align: center;
}

p {
    width: 30vw;
    height: 40vh;
    padding: 20px;
    font-family: Verdana, Geneva, sans-serif;
    color: #393E41;
    text-align: center;
    background-color: rgba(88,123,127,0.5);
    border-radius: 25px;
    position: absolute;
    right: 20vw;
    top: 50vh;
}
    
.einstein-main-image img {
    width: 75vh;
    height: 75vh;
    position: absolute;
    left: 15vw;
    top: 25vh;
}

footer {
    position: absolute;
    align-content: center;
    width: 100vw;
    height: 25vh;
    bottom: -25vh;
    background-color: #393E41;
    color: white;
    padding: 2vw;
}

    

    
